<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat app</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"
        integrity="sha512-oFOCo2/3DtjrJG4N27BjSLQWoiBv171sK6a+JiWjp/7agxC2nCUP358AqzxkBUb5jX8g6CYLPdSKQTbC0weCwA=="
        crossorigin="anonymous"></script>

    <!-- Script to emit/receive events from socket.io server -->
</head>

<body>

    <% if (typeof(anh) !="undefined" ) { %>
        <img src="<%= anh %>" alt="">
        <% } %>
            <form method="post">

                <input type="file" name="anh">

                <button type="submit"> OK</button>

            </form>
</body>

</html>